* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
}

header {
  background-color: #ffffff;
}

.nav {
  width: 100%;
  height: 80px;
  position: fixed;
  /* top: 80px; */
  background-color: #ffffff;
  z-index: 99;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-navbar {
  display: flex;
  align-items: center;
  margin-top: 17.5px;
}

.left-navbar>img {
  width: 121px;
  height: 27px;
  padding: 0px 10px 0px 0px;
}

.aa {
  display: flex;
}


.left-navbar>p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

.center-navbar {
  display: flex;
  align-items: center;
  margin-top: 17.5px;
}

.center-navbar>a {
  padding: 0px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #525560;
}

.right-navbar {
  display: flex;
  align-items: center;
  margin-top: 17.5px;
}

.right-navbar>p {
  padding: 0px 30px 0px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
  cursor: pointer;
}

.right-navbar>button {
  width: 116px;
  height: 43px;
  background-color: #1D2130;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
  cursor: pointer;
}

#navbar-responsive {
  display: none;
}

.menus {
  display: none;
}

.menus>button {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 10px;
  color: white;
  background-color: #1D2130;
  cursor: pointer;
}

.menus>button>i {
  font-size: 20px;
}

.vvv {
  width: 100%;
  padding: 20px;
  /* gap: 400px; */
  justify-content: space-between;
  display: flex;
}


#navbar-close {
  /* text-align: right; */
  width: 30px;
  height: 30px;
  /* transform: translate(300px, 14.5px); */
  color: white;
  background-color: #1D2130;
  cursor: pointer;
}

#navbar-close i {
  font-size: 20px;
}






/* main\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

main {
  padding: 80px 0px 0px 0px;
}
.contianer{
  max-width: 1280px;
  display: flex;
  
border-radius: 0px;
background-size: 100%;

}
label body {
  display: block;
}
.ass{
  background: #EBF0F9;

}
.we{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 120%;
color: #1D2130;
margin-left: 206px;
margin-top: 150px;
}
.any{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
margin-top: 30px;
color: #1D2130;
margin-left: 206px;
opacity: 0.7;
margin-top: 16px;
display: flex;
}
.let h1{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 160%;
color: #1D2130;
margin-left: 500px;
margin-top: 100px;
}
.tel{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1D2130;
margin-top: 10px;
margin-left: 500px;
}
.hello{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */
margin-left: 500px;
margin-top: 10px;
/* Primary text */
color: #1D2130;

}
.scc{
  margin-left: 500px;
  margin-top: 50px;
}
.jl{
  margin-left: 975px;

}
.ema{
margin-top: 40px;
margin-left: 330px;
}
.firt{
margin-top: 100px;
margin-left: 330px;
}
.nam{
  margin-top: 40px;
  margin-left: 330px;
}
.masge
{
  margin-top: 40px;
  margin-left: 330px;
  
}
.sen{
  position: absolute;
width: 170px;
height: 51px;
left: 450px;
top: 980px;
background: #70C174;
backdrop-filter: blur(40px);
border-radius: 4px
}
.mao{
  margin-top: 200px;
  background-size: 100%;
}

/* main\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */






footer {
  background-color: black;

}

.row {
  padding-top: 96px;
  padding-bottom: 98px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


  color: #f53855;
}

.footer1 {
  padding-bottom: 30px;
}

.footer2 {
  /* padding-top: 20; */
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  /* align-items: flex-end; */
  /* flex-wrap: wrap-reverse; */
  /* flex-wrap: wrap; */
  /* flex-direction: column-reverse; */
  /* justify-content: flex-end; */
  /* align-content: flex-end; */
  gap: 95px;
}

.footer22 {
  margin-bottom: 30px;
}

.fmenyu {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}

.fmen {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #ccc;
  opacity: 0.78;
  padding-top: 24px;
}

.ftext {
  max-width: 440px;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #FFFFFF;
}

.finput {
  display: flex;
  margin-top: 32px;
}

.finput>input {
  padding: 22px 24px;
  background-color: transparent;
  color: white;
  width: 300px;
  height: 64px;
  border: 1px solid rgba(235, 240, 249, 0.3);
  border-radius: 4px;
}



.finput>button {
  transform: translateX(-10px);
  width: 164px;
  height: 64px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #1D2130;
}

















@media (max-width: 800px) {
  .center-navbar {
    display: none;
  }

  .right-navbar {
    display: none;
  }

  .menus {
    display: block;
  }

  .button:hover {
    color: #ffffff;
    background-color: #f53855;
    transition: 0.5s;
  }

  .button>i {
    font-size: 20px;
  }

  #navbar-open {
    display: inline-block;
  }

  #navbar-close {
    display: inline-block;
  }

  #navbar-responsive {
    display: block;
    position: fixed;
    top: -100%;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #0b132a;
    z-index: 99;
    transition: 0.5s;
  }

  #navbar-responsive .center-navbar {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  #navbar-responsive .nav-link {
    font-size: 20px;
    display: flex;
    /* justify-content: center; */
    padding-top: 20px;
    padding-bottom: 5px;
    color: white;
  }
}