* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
}

header {
  background-color: #ffffff;
}

.nav {
  width: 100%;
  height: 80px;
  position: fixed;
  /* top: 80px; */
  background-color: #ffffff;
  z-index: 99;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-navbar {
  display: flex;
  align-items: center;
  margin-top: 17.5px;
}

.left-navbar > img {
  width: 121px;
  height: 27px;
  padding: 0px 10px 0px 0px;
}

.aa {
  display: flex;
}

.left-navbar > p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

.center-navbar {
  display: flex;
  align-items: center;
  margin-top: 17.5px;
}

.center-navbar > a {
  padding: 0px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #525560;
}

.right-navbar {
  display: flex;
  align-items: center;
  margin-top: 17.5px;
}

.right-navbar > p {
  padding: 0px 30px 0px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
  cursor: pointer;
}

.right-navbar > button {
  width: 116px;
  height: 43px;
  background-color: #1d2130;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
  cursor: pointer;
}

#navbar-responsive {
  display: none;
}

.menus {
  display: none;
}

.menus > button {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 10px;
  color: white;
  background-color: #1d2130;
  cursor: pointer;
}

.menus > button > i {
  font-size: 20px;
}

.vvv {
  width: 100%;
  padding: 20px;
  /* gap: 400px; */
  justify-content: space-between;
  display: flex;
}

#navbar-close {
  /* text-align: right; */
  width: 30px;
  height: 30px;
  /* transform: translate(300px, 14.5px); */
  color: white;
  background-color: #1d2130;
  cursor: pointer;
}

#navbar-close i {
  font-size: 20px;
}

/* main\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

main {
  padding: 80px 0px 0px 0px;
}

.hero-contenor {
  background-color: #eff7f2;
  height: 600px;
}
.p2 {
  padding-top: 95px;
  padding-left: 110px;
}
.p4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #1d2130;
  margin-top: 30px;
  padding-left: 207px;
}
.p5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #525560;
  margin-bottom: 14px;
  padding-left: 206px;
}
.p6 {
  background: #70c174;
  backdrop-filter: blur(40px);
  border-radius: 4px;
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
  gap: 10px;
  margin-top: 32px;
}
.p7 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #ffffff;
}
.card {
  margin-bottom: 32px;
  padding-left: 207px;
}

.p4 {
  background-image: url("../image/donate.png");
  background-repeat: no-repeat;
  background-position: right top, center bottom, right center;
  border-radius: 12px;
  background-size: contain;
  padding-left: 187px;
  padding-right: 110px;
  /*  padding-bottom: 96px;*/
  padding-top: 96px;
}

.contents {
  background: #ebe5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p8 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1d2130;
  padding-left: 110px;
  padding-top: 96px;
  padding-bottom: 24px;
}
.p9 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #525560;
  padding-left: 110px;
  margin-top: 24px;
  padding-bottom: 96px;
}
.p10 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1d2130;
  padding-left: 100px;
  gap: 48px;
  display: flex;
}
.p11 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #525560;
  gap: 48px;
}
.p12 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #525560;

  gap: 48px;
  display: flex;
}
.p13 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #525560;
  padding-right: 110px;
}
.taraf {
  display: flex;
  justify-content: space-between;
  padding-left: 124px;

  padding-right: 110px;
  gap: 48px;
  /* margin-top: 17.5px;*/
}
.past {
  justify-content: space-between;
  padding-left: 96px;
  padding-top: 32px;
  padding-right: 110;
}

.cards {
  justify-content: space-between;

  background: #ebe5e5;
  display: flex;
}
.p14 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1d2130;
  padding-left: 110px;
  padding-top: 96px;
}
.p15 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #525560;
  padding-top: 96px;
}
.p16 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #525560;
  padding-right: 120px;
  padding-top: 96px;
}
.p17 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  padding-left: 325px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding-left: 325px;
  padding-right: 324px;
}
/* main\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

footer {
  background-color: black;
}

.row {
  padding-top: 96px;
  padding-bottom: 98px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  color: #f53855;
}

.footer1 {
  padding-bottom: 30px;
}

.footer2 {
  /* padding-top: 20; */
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  /* align-items: flex-end; */
  /* flex-wrap: wrap-reverse; */
  /* flex-wrap: wrap; */
  /* flex-direction: column-reverse; */
  /* justify-content: flex-end; */
  /* align-content: flex-end; */
  gap: 95px;
}

.footer22 {
  margin-bottom: 30px;
}

.fmenyu {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
}

.fmen {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #ccc;
  opacity: 0.78;
  padding-top: 24px;
}

.ftext {
  max-width: 440px;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #ffffff;
}

.finput {
  display: flex;
  margin-top: 32px;
}

.finput > input {
  padding: 22px 24px;
  background-color: transparent;
  color: white;
  width: 300px;
  height: 64px;
  border: 1px solid rgba(235, 240, 249, 0.3);
  border-radius: 4px;
}

.finput > button {
  transform: translateX(-10px);
  width: 164px;
  height: 64px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #1d2130;
}

@media (max-width: 800px) {
  .center-navbar {
    display: none;
  }

  .right-navbar {
    display: none;
  }

  .menus {
    display: block;
  }

  .button:hover {
    color: #ffffff;
    background-color: #f53855;
    transition: 0.5s;
  }

  .button > i {
    font-size: 20px;
  }

  #navbar-open {
    display: inline-block;
  }

  #navbar-close {
    display: inline-block;
  }

  #navbar-responsive {
    display: block;
    position: fixed;
    top: -100%;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #0b132a;
    z-index: 99;
    transition: 0.5s;
  }

  #navbar-responsive .center-navbar {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  #navbar-responsive .nav-link {
    font-size: 20px;
    display: flex;
    /* justify-content: center; */
    padding-top: 20px;
    padding-bottom: 5px;
    color: white;
  }
}
