* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
}

header {
  background-color: #ffffff;
}

.nav {
  width: 100%;
  height: 80px;
  position: fixed;
  /* top: 80px; */
  background-color: #ffffff;
  z-index: 99;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-navbar {
  display: flex;
  align-items: center;
  margin-top: 17.5px;
}

.left-navbar>img {
  width: 121px;
  height: 27px;
  padding: 0px 10px 0px 0px;
}

.aa {
  display: flex;
}


.left-navbar>p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

.center-navbar {
  display: flex;
  align-items: center;
  margin-top: 17.5px;
}

.center-navbar>a {
  padding: 0px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #525560;
}

.right-navbar {
  display: flex;
  align-items: center;
  margin-top: 17.5px;
}

.right-navbar>p {
  padding: 0px 30px 0px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
  cursor: pointer;
}

.right-navbar>button {
  width: 116px;
  height: 43px;
  background-color: #1D2130;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
  cursor: pointer;
}

#navbar-responsive {
  display: none;
}

.menus {
  display: none;
}

.menus>button {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 10px;
  color: white;
  background-color: #1D2130;
  cursor: pointer;
}

.menus>button>i {
  font-size: 20px;
}

.vvv {
  width: 100%;
  padding: 20px;
  /* gap: 400px; */
  justify-content: space-between;
  display: flex;
}


#navbar-close {
  /* text-align: right; */
  width: 30px;
  height: 30px;
  /* transform: translate(300px, 14.5px); */
  color: white;
  background-color: #1D2130;
  cursor: pointer;
}

#navbar-close i {
  font-size: 20px;
}






/* main\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

main {
  padding: 80px 0px 0px 0px;
}

/* main\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */






footer {
  background-color: black;

}

.row {
  padding-top: 96px;
  padding-bottom: 98px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


  color: #f53855;
}

.footer1 {
  padding-bottom: 30px;
}

.footer2 {
  /* padding-top: 20; */
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  /* align-items: flex-end; */
  /* flex-wrap: wrap-reverse; */
  /* flex-wrap: wrap; */
  /* flex-direction: column-reverse; */
  /* justify-content: flex-end; */
  /* align-content: flex-end; */
  gap: 95px;
}

.footer22 {
  margin-bottom: 30px;
}

.fmenyu {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}

.fmen {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #ccc;
  opacity: 0.78;
  padding-top: 24px;
}

.ftext {
  max-width: 440px;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #FFFFFF;
}

.finput {
  display: flex;
  margin-top: 32px;
}

.finput>input {
  padding: 22px 24px;
  background-color: transparent;
  color: white;
  width: 300px;
  height: 64px;
  border: 1px solid rgba(235, 240, 249, 0.3);
  border-radius: 4px;
}



.finput>button {
  transform: translateX(-10px);
  width: 164px;
  height: 64px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #1D2130;
}
main{
  max-width: 1500px;
  margin: 0 auto;
  padding: 156px 0 0 238px !important;
}
.hmain{
  display: flex;
  gap: 24px;
  align-items: center;
}
.hmain .line{
  margin-bottom: 9px;
  height: 0px;
  width: 72px;
  border: 2px solid #1D2130;
  
}
.hmain h5{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D2130;    
}
main h1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  width: 832px;
  height: 134px;
  color: #1D2130;
  margin-left: 115px;
  margin-top: 32px;
}
main p{
  /* Paragraph */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  
  /* or 26px */
  
  /* Secondary text */
  color: #525560;
  
  width: 832px;
  height: 390px;    
  margin-left: 115px;
  margin-top: 32px;
}
main .imgmain{
  margin-top: 32px;
  margin-left: 115px;
  height: 320px;
  width: 832px;
  background-image: url(../image/media/bg2.png);
  background-repeat: no-repeat;
  border-radius: 12px;
  background-size: 100%;
}
.some{
  padding-left: 108px;
  margin-top: 48px;
}
.some h2{
  /* H2 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #1D2130;
}
.some p{
  /* Paragraph */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #525560;
  width: 832px;
  height: 182px;
  margin-left: 0px;
  margin-top: 16px;
}
.some ul {
  margin-top: 16px;
  padding-left: 20px;
}
.some li{
  list-style-type: disc;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #1D2130;
}
.some .p2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #525560;
  margin-top: 16px;
}
.fragman{
  padding: 96px 230px;
  height: 436px;
  max-width: 1500px;
  margin: 0 auto;
  background-image: url(../image/media/22.png);
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.fragmancard{
  height: 98px;
  width: 488px;
  display: flex;
  flex-direction: column;
}
.topfrag{
  display: flex;
  gap: 22px;
}
.topfrag h4{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #1D2130;    
}
.fragmancard p{
  width: 436px;
  height: 52px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #525560;
  margin-top: 8px;
  margin-left: 60px;
}
.btn{
  border: none;
}
.missioncards{
  display: flex;
  gap: 24px;
  padding: 96px 110px;
  max-width: 1500px;
  margin: 0 auto;
}
.missioncards .missioncard{
  width: 411px;
  height: 421px;
  background: #0B0706;
  opacity: 0.5;
  border-radius: 12px;
  padding: 80px 48px;
  background-image: url(../image/media/bg2.png);
}
.missioncards .missioncard2{
  background-image: url(../image/media/bg3.png);
}
.missioncards .missioncard3{
  background-image: url(../image/media/bg4.png);
}
.missioncards .missioncard h3{
  /* H3 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.missioncards .missioncard p{
  /* Paragraph */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF; 
  margin-bottom: 64px; 
}
.btnm{
  width: 132px;
  height: 51px;
  background: #FFFFFF;
  border-radius: 4px;
  backdrop-filter: blur(40px);
  padding: 16px 32px;
  /* content */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #1D2130;
  border: none;
}
.btnm:hover{
  transition: .5s;
  color: #FFFFFF;
  background-color: #0B0706;
}
.box{
  background-image: url(../image/media/bg5.png);
  height: 384px;
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 12px;
  opacity: 0.5;
  border-radius: 12px;
  padding: 93px 325px;
  mix-blend-mode: normal;
  margin-bottom: 96px;
}
.box h3{
  max-width: 631px;
  height: 116px;
  /* H2 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #FFFFFF;  
}
.boxbtns{
  display: flex;
  gap: 64px;
  margin-top: 32px;
  margin-left: 141px;
}
.boxbtn{
  padding: 16px 32px;
  max-width: 200px;
  height: 51px;
  background: #70C174;
  backdrop-filter: blur(40px);
  border-radius: 4px;
  border: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #FFFFFF;
  transition: 0.6s;
  cursor: pointer;
}
button{
  cursor: pointer;
}
.boxbtn:hover{
  background-color: #FFFFFF;
  color: #70C174;
}
.boxbtn2{
  width: 116px;
  height: 51px;
  padding: 16px 32px;
  background: #FFFFFF;
  backdrop-filter: blur(40px);
  border-radius: 4px;
  border: none;
  transition: .6s;
}
.boxbtn2:hover{
  background: #70C174;
  color: #FFFFFF;
}
.boxbtn2 a{
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #1D2130;
}













@media (max-width: 800px) {
  .center-navbar {
    display: none;
  }

  .right-navbar {
    display: none;
  }

  .menus {
    display: block;
  }

  .button:hover {
    color: #ffffff;
    background-color: #f53855;
    transition: 0.5s;
  }

  .button>i {
    font-size: 20px;
  }

  #navbar-open {
    display: inline-block;
  }

  #navbar-close {
    display: inline-block;
  }

  #navbar-responsive {
    display: block;
    position: fixed;
    top: -100%;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #0b132a;
    z-index: 99;
    transition: 0.5s;
  }

  #navbar-responsive .center-navbar {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  #navbar-responsive .nav-link {
    font-size: 20px;
    display: flex;
    /* justify-content: center; */
    padding-top: 20px;
    padding-bottom: 5px;
    color: white;
  }
}