* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
}

header {
  background-color: #ffffff;
}

.nav {
  width: 100%;
  height: 80px;
  position: fixed;
  /* top: 80px; */
  background-color: #ffffff;
  z-index: 99;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-navbar {
  display: flex;
  align-items: center;
  margin-top: 17.5px;
}

.left-navbar>img {
  width: 121px;
  height: 27px;
  padding: 0px 10px 0px 0px;
}

.aa {
  display: flex;
}


.left-navbar>p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

.center-navbar {
  display: flex;
  align-items: center;
  margin-top: 17.5px;
}

.center-navbar>a {
  padding: 0px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #525560;
}

.right-navbar {
  display: flex;
  align-items: center;
  margin-top: 17.5px;
}

.right-navbar>p {
  padding: 0px 30px 0px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
  cursor: pointer;
}

.right-navbar>button {
  width: 116px;
  height: 43px;
  background-color: #1D2130;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
  cursor: pointer;
}

#navbar-responsive {
  display: none;
}

.menus {
  display: none;
}

.menus>button {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 10px;
  color: white;
  background-color: #1D2130;
  cursor: pointer;
}

.menus>button>i {
  font-size: 20px;
}

.vvv {
  width: 100%;
  padding: 20px;
  /* gap: 400px; */
  justify-content: space-between;
  display: flex;
}


#navbar-close {
  /* text-align: right; */
  width: 30px;
  height: 30px;
  /* transform: translate(300px, 14.5px); */
  color: white;
  background-color: #1D2130;
  cursor: pointer;
}

#navbar-close i {
  font-size: 20px;
}






/* main\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

main {
  padding: 80px 0px 0px 0px;
}
.container{
  
    display: flex;
    justify-content: center;
    
}
.img{
    font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 2px;
text-transform: uppercase;
color: #1D2130;
margin-top: 96px;
margin-left: 206px;
}
.we{
    font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 120%;
color: #1D2130;
margin-top: 32px;
margin-left: 206px;
}
.ipsum {
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #525560;
margin-top: 34px;
margin-left: 206px;
}
.img1{
    margin-top: 110px;
    padding-left: 110px;
}
.ass{
    background: #EFF7F2;
    margin-top: 100px;
}
.what{
    margin-top: 96px;
    margin-left: 110px;
}
.build{
    margin-top: 64px;
    margin-left: 162px;
}
.icon{
    margin-top: 64px;
    margin-left: 110px;
}
.di{
    display: flex;
}
.hav h4{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 2px;
text-transform: uppercase;
color: #1D2130;
text-align: center;
margin-top: 96px;
}

.hav h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #1D2130;
    margin-top: 16px;
    justify-content: center;
}
.img4{
    display: flex;
    margin-left: 110px;
    gap: 24px;
    margin-top: 64px;
}
.tree h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #ffff;
    margin-top: 80px;
    
}
.uu{
    margin-top: 36px;
    justify-content: center;
    gap: 30px;
}
.tree p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
margin-left: 160px;
color: #ffff;
margin-top: 15px;
justify-content: space-between;

}
.tree{
background-image:  url(../image/whatwe/img3.png);
background-repeat: no-repeat;
background-position: center;
gap: 30px; 
  
}
.uu{
    display: flex;
    gap: 30px;
    text-align: center;
}
.city{
background: url(../image/whatwe/img4.png);
background-repeat: no-repeat;
}

.city h3{
    font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 150%;
color: #FFFFFF;
margin-left: 48px;
padding: 60px;
}
.city p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #FFFFFF;
margin-left: 48px;
padding: 46px;
}
.prog h3{
    font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 150%;
color: #FFFFFF;
margin-left: 48px;
padding: 39px;
}
.prog p{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #FFFFFF;
margin-left: 48px;
padding: 46px;
}
.prog{
    background: url(../image/whatwe/img5.png);
    background-repeat: no-repeat;
}
.see{
    width: 132px;
height: 51px;
left: 158px;
top: 1850px;
background: #FFFFFF;
backdrop-filter: blur(40px);
border-radius: 4px;
margin-top: 60px;
}
.se{
    background: #FFFFFF;
    top: 1850px;
    
    backdrop-filter: blur(48px);
    border-radius: 4px;
    padding: 16px 32px; 
}
.mo{
padding:16px 32px ;
}
.to{
    margin: 189px;
    margin-left: 300px;
    padding: 93px ;

}
.make {
    background-size: 100%;
    
    background-image: url(../image/whatwe/img6.png);
    background-repeat: no-repeat;
    
}
.vol{
    width: 200px;
height: 51px;
left: 576px;
top: 2286px;
background: #70C174;
backdrop-filter: blur(40px);
border-radius: 4px;
}
.our1{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.a23{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */
    
    font-variant: small-caps;
    
    /* Primary text */
    
    color: #1D2130;
}
.nex{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

letter-spacing: 2px;
text-transform: uppercase;
margin-left: 230px;
/* Primary text */

color: #1D2130;
}
.to{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 150%;
color: #1D2130;
margin-left: 230px;
}

/* main\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */






footer {
  background-color: black;

}

.row {
  padding-top: 96px;
  padding-bottom: 98px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


  color: #f53855;
}

.footer1 {
  padding-bottom: 30px;
}

.footer2 {
  /* padding-top: 20; */
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  /* align-items: flex-end; */
  /* flex-wrap: wrap-reverse; */
  /* flex-wrap: wrap; */
  /* flex-direction: column-reverse; */
  /* justify-content: flex-end; */
  /* align-content: flex-end; */
  gap: 95px;
}

.footer22 {
  margin-bottom: 30px;
}

.fmenyu {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}

.fmen {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #ccc;
  opacity: 0.78;
  padding-top: 24px;
}

.ftext {
  max-width: 440px;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #FFFFFF;
}

.finput {
  display: flex;
  margin-top: 32px;
}

.finput>input {
  padding: 22px 24px;
  background-color: transparent;
  color: white;
  width: 300px;
  height: 64px;
  border: 1px solid rgba(235, 240, 249, 0.3);
  border-radius: 4px;
}



.finput>button {
  transform: translateX(-10px);
  width: 164px;
  height: 64px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #1D2130;
}

















@media (max-width: 800px) {
  .center-navbar {
    display: none;
  }

  .right-navbar {
    display: none;
  }

  .menus {
    display: block;
  }

  .button:hover {
    color: #ffffff;
    background-color: #f53855;
    transition: 0.5s;
  }

  .button>i {
    font-size: 20px;
  }

  #navbar-open {
    display: inline-block;
  }

  #navbar-close {
    display: inline-block;
  }

  #navbar-responsive {
    display: block;
    position: fixed;
    top: -100%;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #0b132a;
    z-index: 99;
    transition: 0.5s;
  }

  #navbar-responsive .center-navbar {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  #navbar-responsive .nav-link {
    font-size: 20px;
    display: flex;
    /* justify-content: center; */
    padding-top: 20px;
    padding-bottom: 5px;
    color: white;
  }
}